<%- include("includes/head.ejs") %>
<%- include("includes/header.ejs") %>

<div class="box" style="background-color: blanchedalmond; padding:1rem;
font-size:1.6rem;text-align: center; margin:auto">
    Booked!
 </div>
