
    <%- include("includes/head.ejs") %>
    

<body>
    <%- include("includes/header.ejs",{user :user }) %>
    <div id="response-container">
        <% responses.forEach(response => { %>
            <div class="response-card">
                <h2><%= response.title %></h2>
                <p><%- response.response.replace(/\n/g, "<br>") %></p>
            </div>
        <% }); %>
    </div>
</body>